GGJ/Temp/UnityLockfile
GGJ/Library/PackageCache/
GGJ/.vs/
GGJ/Assembly-CSharp.csproj
GGJ/Library/assetDatabase3
GGJ/Library/EditorInstance.json
GGJ/Library/ScriptAssemblies/Assembly-CSharp.dll
GGJ/Library/ScriptAssemblies/Assembly-CSharp.pdb
GGJ/Library/StateCache/Hierarchy/e65ce8-mainStage.json
GGJ/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
GGJ/Library/metadata/56/569ac58151cfa674a9c1697b0cb612ae
GGJ/Library/metadata/56/569ac58151cfa674a9c1697b0cb612ae.info
GGJ/Temp/UnityTempFile-6aee85dd38d5ed340aed0ca50deedf6a
GGJ/Temp/UnityTempFile-e173905f36bebe942a14c8a23e4330bc
GGJ/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
GGJ/Library/metadata/80/8093a1255b17d0c4f888fe50a6b0c6d1
GGJ/Temp/
GGJ/Library/CrashedAssetImports.txt
GGJ/Library/metadata/80/8093a1255b17d0c4f888fe50a6b0c6d1.info
GGJ/Library/metadata/64/64d40f43a6279e942acc065a1b7423b3
GGJ/Library/metadata/
GGJ/ProjectSettings/ProjectSettings.asset
GGJ/Library/InspectorExpandedItems.asset
GGJ/Library/StateCache/
GGJ/Library/ShaderCache/1/1294f687cfafe40dda8a29f75bd830cf.bin
GGJ/Library/ShaderCache/7/7b043f28415088d47b45e9ab1d2f6974.bin
GGJ/Library/CurrentLayout-default.dwlt
GGJ/Library/LastSceneManagerSetup.txt
GGJ/Library/ProjectSettings.asset
